<app-loading *ngIf="loading" [message]="loadingMessage"></app-loading>

<mat-card *ngIf="!loading" class="mat-card mat-elevation-z8">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon color="primary" class="card-icon">add_circle</mat-icon>
    </div>
    <mat-card-title>New game</mat-card-title>
    <mat-card-subtitle>Enter details to start a new game</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <form (ngSubmit)="onSubmitNewGame()" #newGameForm="ngForm">

      <div class="form-group">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Name</mat-label>
          <input matInput type="text" id="name" placeholder="Name" name="name"
                 required
                 [(ngModel)]="newGame.name"
                 #name="ngModel">
          <mat-hint [hidden]="name.valid || name.pristine">
            Name is required
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Date of birth</mat-label>
          <input matInput id="dateOfBirth" name="dateOfBirth"
                 required
                 [matDatepicker]="picker"
                 [(ngModel)]="newGame.dateOfBirth"
                 #dateOfBirth="ngModel">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker color="primary" #picker></mat-datepicker>
          <mat-hint [hidden]="dateOfBirth.valid || dateOfBirth.pristine">
            Date of birth is required
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Number of digits</mat-label>
          <mat-select id="nrOfDigits" name="nrOfDigits"
                      required
                      [(ngModel)]="newGame.nrOfDigits"
                      #nrOfDigits="ngModel">
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
          </mat-select>
          <mat-hint [hidden]="nrOfDigits.valid || nrOfDigits.pristine">
            Number of digits is required
          </mat-hint>
        </mat-form-field>
      </div>

      <button mat-flat-button color="primary" type="submit" [disabled]="!newGameForm.form.valid">Submit</button>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <app-card-actions [play]="false"></app-card-actions>
  </mat-card-actions>
</mat-card>







