<mat-card class="mat-card mat-elevation-z8">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon color="primary" class="card-icon">toys</mat-icon>
    </div>
    <mat-card-title>Statistics</mat-card-title>
    <mat-card-subtitle *ngIf="!game">View sailor game statistics.</mat-card-subtitle>
    <mat-card-subtitle *ngIf="game">Game {{game.id}} started by {{game.name}} born {{game.dateOfBirth}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <app-card-actions></app-card-actions>
  </mat-card-actions>
</mat-card>
