<mat-card class="mat-card mat-elevation-z8">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon color="primary" class="card-icon">toys</mat-icon>
    </div>
    <mat-card-title>Sailor Game</mat-card-title>
    <mat-card-subtitle>A number guessing game.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The game generates a random number of given length for you to guess.
      For each guess, a correct digit in the correct place awards you a ‘Ship’ and
      a correct digit in the wrong place awards you a ‘Buoy’. Try to guess the correct
      number in the least amount of tries!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <app-card-actions></app-card-actions>
  </mat-card-actions>
</mat-card>
